@model LightServeMVC.Models.Menu

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="container">
    <h2>@Model.Name</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Weight</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var dish in Model.Dishes)
            {
                <tr>
                    <td>@dish.Name</td>
                    <td>@dish.Description</td>
                    <td>@dish.Price</td>
                    <td>@dish.Weight</td>
                    <td>

                        @using (Html.BeginForm("AddDishToOrder", "Order", new { dishId = dish.Id, menuId = Model.Id }, FormMethod.Post))
                        {
                            <button type="submit" class="btn btn-primary">Add Dish</button>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
